<div class="container">
  <h2>Materiales</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>codigo</th>
        <th>nombre</th>
        <th>nomenclature</th>
        <th>peso</th>
        <th>importe</th>
        <th>unidades</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of materiales">
      <td><span style="cursor:pointer" class="badge" (click)="onSelect(item)">{{item.id}}</span></td>
      <td>{{item.codigo}}</td>
      <td>{{item.name}}</td>
      <td>{{item.nomenclature.code}}</td>
      <td>{{item.peso}}</td>
      <td>{{item.importe}}</td>
      <td>{{item.unidades}}</td>
    </tr>
    </tbody>
  </table>
</div>
